.header{
    background-image: url('../assets/a12.jpg'); 
    background-size: cover; 
    background-position: center; 
    min-height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}